* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(228, 228, 228);
    font-family: 'Inter', sans-serif;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    width: 100%;
}